


<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->


  <ol class="carousel-indicators">
    <% is_active = true %>
    <% cid = 1%>
    <% issues.each do |e| %>
        <% (1..e.issue_images.count).each do %>
            <% if is_active %>
                <% is_active = false%>
                <li data-target="#carousel-example-generic" data-slide-to="<%= cid %>" class="active"></li>
            <% else %>
                <li data-target="#carousel-example-generic" data-slide-to="<%= cid %>"></li>
            <% end %>
            <% cid + 1%>
        <% end %>
    <% end %>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">

    <% is_active = true %>
    <% issues.each do |e| %>
        <% e.issue_images.each do |i| %>
            <% if is_active %>
                <div class="item active">
                  <% is_active = false %>
            <% else %>
                <div class="item">
            <% end %>
             <div align= "center">
            <%= image_tag i.issue_pic.url(:medium) %>
             </div>
            <div class="carousel-caption">
              <h3><%= i.description %></h3>
            </div>
            </div>
        <% end %>
    <% end %>
    </div>
  </div>
  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>
