<meta charset="UTF-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">


<!--<link rel="stylesheet" type="text/css" href="css/3DClock/default.css"/>-->
<link href="css/3DClock/hexaflip.css" rel="stylesheet" type="text/css">
<link href="css/3DClock/demo.css" rel="stylesheet" type="text/css">

<% h = Time.now.strftime("%I")%>
<% m = Time.now.strftime("%M")%>
<% p = Time.now.strftime("%P")%>


  <div id="hexaflip-demo3" class="demo"></div>


<script src="js/3DClock/hexaflip.js"></script>
<script>
    var hexaDemo3;
    document.addEventListener('DOMContentLoaded', function () {
        hexaDemo3 = new HexaFlip(document.getElementById('hexaflip-demo3'));

        setTimeout(function () {
            var now = new Date,
                    hour = now.getHours(),
                    minute = now.getMinutes().toString(),
                    meridian;

            if (hour > 12) {
                hour = (hour - 12).toString();
                meridian = 'pm';
            } else {
                meridian = 'am';
                (hour === 0) && (hour = 12);
                hour = hour.toString();
            }


            hexaDemo3.setValue({ hour: hour, minute: minute, meridian: meridian });

        }, 1);

        var hourSelect = document.getElementById('hour-select'),
                minuteSelect = document.getElementById('minute-select'),
                meridianSelect = document.getElementById('meridian-select');

        document.getElementById('set-button').addEventListener('click', function () {
            var time = {
                hour: hourSelect.value,
                minute: minuteSelect.value,
                meridian: meridianSelect.value
            }
            hexaDemo3.setValue(time);
        });
    }, false);

</script>
