


  <!-- Codrops top bar -->
  <div class="codrops-top clearfix">
    <a href="http://tympanus.net/Development/Calendario/">
      <strong>&laquo; Previous Demo: </strong>Flexible Calendar Plugin
    </a>
				<span class="right">
					<a href="http://icomoon.io/app/">Icons created with Icomoon</a>
					<a href="http://tympanus.net/codrops/?p=12452">
                      <strong>Back to the Codrops Article</strong>
                    </a>
				</span>
  </div><!--/ Codrops top bar -->
  <header class="clearfix">
    <h1>Simple Effects<span>for Drop-Down Lists</span></h1>
    <nav class="codrops-demos">
      <a href="index.html">Demo 1</a>
      <a href="index2.html">Demo 2</a>
      <a href="index3.html">Demo 3</a>
      <a href="index4.html">Demo 4</a>
      <a href="index5.html">Demo 5</a>
      <a class="current-demo" href="index6.html">Demo 6</a>
    </nav>
  </header>
  <section class="main">
    <div class="fleft">
      <p>Same as example 5 but with a delay for each item.</p>
    </div>
    <div class="fleft">
      <select id="cd-dropdown" class="cd-select">
        <option value="-1" selected>Choose your prize</option>
        <option value="1" class="icon-camera">Camera</option>
        <option value="2" class="icon-diamond">Diamonds</option>
        <option value="3" class="icon-rocket">Spaceship</option>
        <option value="4" class="icon-star">Star</option>
        <option value="5" class="icon-clock">Time</option>
      </select>
    </div>
  </section>




