<% token = 0 %>
<% issues.each do |e| %>
    <%
       #if token < 0
    %>
    <%
       #next if (e.issue_images.count == 0)
    %>

    <% token = token + 1 %>
    <!--<div class="col-md-6">-->
    <!--<div class="thumbnail">-->
    <p><%= token %> | <%= link_to truncate(e.title, :length => 17), shownotis_url(e) %></p>
    <hr>
    <!--</div>-->
    <!--</div>-->
<% end %>