<style>
    #indn{
        border-bottom: solid;
        border-bottom-color: #e1e4e7;
        border-bottom-width: 1px;
    }
</style>

<% token = 0 %>
<% issues.each do |e| %>
    <%
       #if token < 0
    %>
    <%
       #next if (e.issue_images.count == 0)
    %>

    <% token = token + 1 %>
    <!--<div class="col-md-6">-->
    <!--<div class="thumbnail">-->
    <p id="indn"><%= token %> | <%= link_to truncate(e.title, :length => 20), shownotis_url(e) %></p>
    <!--<hr>-->
    <!--</div>-->
    <!--</div>-->
<% end %>