<%= javascript_include_tag 'blueimp/blueimp-gallery.min.js' %>
<%= stylesheet_link_tag 'blueimp/blueimp-gallery.min.css' %>


<style>

    .img-box {
        background: #f0f0f0;
    }

    .img-box li {
        float: left;
        background: #f0f0f0;
        overflow: hidden;
    }

    .img-box li a {
        float: left;
        overflow: hidden;
        position: relative;
    }

    .img-box li a img {
        position: relative;
        vertical-align: text-top;
    }

        /*themes*/

    .themes2 li {
        width: 100px;
        height: 100px;
    }

    .themes2 li a {
        width: 100px;
        height: 100px;
    }


</style>


<div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
  <div class="slides"></div>
  <h3 class="title"></h3>
  <a class="prev">‹</a>
  <a class="next">›</a>
  <a class="close">×</a>
  <a class="play-pause"></a>
  <ol class="indicator"></ol>
</div>

<div id="links">
  <div class="img-box themes2 clearfix">
    <ul>
      <% issues.each do |e| %>
          <% e.issue_images.each do |i| %>
              <li><a href="<%= i.issue_pic.url %>" id="pic"><%= image_tag i.issue_pic.url(:thumb) %></a></li>
          <% end %>
      <% end %>
    </ul>
  </div>
</div>


<script>
    document.getElementById('links').onclick = function (event) {
        event = event || window.event;
        var target = event.target || event.srcElement,
                link = target.src ? target.parentNode : target,
                options = {index: link, event: event},
                links = this.getElementsByTagName('a');
        blueimp.Gallery(links, options);
    };

    $(function () {
        zmnImgCenter($(".t-img"));//JQ的dom
    });
    function zmnImgCenter(obj) {
        obj.each(function () {
            var $this = $(this);
            var objHeight = $this.height();//图片高度
            var objWidth = $this.width();//图片宽度
            var parentHeight = $this.parent().height();//图片父容器高度
            var parentWidth = $this.parent().width();//图片父容器宽度
            var ratio = objHeight / objWidth;
            if (objHeight > parentHeight && objWidth > parentWidth) {//当图片宽高都大于父容器宽高
                if (objHeight > objWidth) {//赋值宽高
                    $this.width(parentWidth);
                    $this.height(parentWidth * ratio);
                }
                else {
                    $this.height(parentHeight);
                    $this.width(parentHeight / ratio);
                }
                objHeight = $this.height();//重新获取宽高
                objWidth = $this.width();
                if (objHeight > objWidth) {
                    $(this).css("top", (parentHeight - objHeight) / 2);
                    //定义top属性
                }
                else {
                    //定义left属性
                    $(this).css("left", (parentWidth - objWidth) / 2);
                }
            }
            else {//当图片宽高小于父容器宽高
                if (objWidth > parentWidth) {//当图片宽大于容器宽，小于时利用css text-align属性居中
                    $(this).css("left", (parentWidth - objWidth) / 2);
                }
                $(this).css("top", (parentHeight - objHeight) / 2);
            }
        })
    }
</script>