<style type="text/css">


    #news4 {
        font-size: 30px;
        font-weight: 500;
    }

</style>

<div class="row">
  <div class="col-md-6">
    <% if !(issue.issue_pic_file_name.nil?) %>

        <%= image_tag issue.issue_images.order("RANDOM()").first.issue_pic.url(:thumb), :class => "img-responsive pull-right" %>
    <% end %>
  </div>
  <div class="col-md-6">
    <a href=<%= shownews_url(issue) %><div id="news4"><%= issue.title %></div>
  </a>
</div>
<hr>
