<blockquote class="pull-right">
  <p>    <%= truncate(issue.content, :length => 140) %>
  </p>
  <small><cite title="Source Title"><%= link_to issue.title, shownews_url(issue) %></cite></small>

</blockquote>
<%= issue.created_at.strftime("%d %B %y, %A")%>
<hr>

