<h2><%= issue.title %></h2>
<% if (issue.issue_images.count != 0) %>
    <%= image_tag issue.issue_images.order("RANDOM()").first.issue_pic.url(:thumb), :class => "img-responsive pull-right" %>
<% end %>
<%= truncate(issue.content, :length => 600) %>
<br><br>
<p><a href=<%= shownews_url(issue) %>, class="btn btn-default" role="button">详细</a></p>
<hr>
