<div class="col-md-5" id="index_ns">
  <ul class="nav nav-tabs" id="myTab">
    <li class="active"><a href="#isociety" data-toggle="tab">社团活动</a></li>
    <li><a href="#school" data-toggle="tab">通知公告</a></li>
  </ul>
  <div class="tab-content" id="notinav">
    <div class="tab-pane fade in active" id="isociety">
      <%=
          render "module/indnotis", :issues => @notis_activity
      %>
    </div>
    <div class="tab-pane fade" id="school">
      <%=
          render "module/indnotis", :issues => @notis_info
      %>
    </div>
  </div>
</div>

<div class="col-md-7">
  <div class="thumbnail" id="caindex">
    <%=
        render "module/indexcarousel", :issues => @issues_top
    %>
  </div>
</div>

