<link id="theme-link" rel="stylesheet" href="css/Vanillabox/theme/bitter/vanillabox.css">
<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.0.min.js"></script>
<script type="text/javascript" src="vanillabox/vanillabox/jquery.vanillabox.js"></script>
<script type="text/javascript" src="vanillabox/configform.js"></script>
<script type="text/javascript" src="vanillabox/configpre.js"></script>
<script type="text/javascript" src="vanillabox/logger.js"></script>


<!---->

<li><a id="cocopon-me" href="http://cocopon.me/" title="cocopon.me">My website</a></li>

<!---->

<script type="text/javascript">
    $(document).ready(function () {
        // Vanillaboxes

        $('#cocopon-me').vanillabox({
            type: 'iframe'
        });

    });
</script>
