<% if @user.errors.any? %>
    <div id="error_explanation">
      <div class="alert alert-warning">
        有以下 <%= pluralize(@user.errors.count, "") %> 项错误 .
      </div>
      <ul>
        <% @user.errors.messages.values.each do |msg| %>
            <% msg.each do |m| %>
                <li class="alert alert-danger"><%= m %></li>
            <% end %>
        <% end %>
      </ul>
    </div>
<% end %>