<style>
    #secLeft {
        padding-top: 30px;
        /*margin: 10px;*/
        /*overflow: hidden;*/
    }

    .iniTitle {
        clear: both;
        position: relative;
        margin-top: 20px;
        padding: 0 15px;

    }

    .iniTitle h2 {
        height: 54px;
        line-height: 54px;

    }

    .iniTitle #iniA {
        font-size: 12px;
        margin: 0 10px 0 10px;
        color: #f60;

    }

    .iniTitle strong {
        font-size: 24px;
    }

    .iniLeftNav {
        float: right;
        overflow: hidden;
    }

    .iniLeftNav ul {
        overflow: hidden;
        padding-right: 20px;
        border-bottom: 1px solid #ECF0F1;

    }

    .iniLeftNav li {
        list-style-type: none;
        margin: 0 0 15px 30px;
        text-align: right;
        position: relative;
        float: left;
        font-size: 14px;
    }

    .iniLeftNav li a:hover {
        border-bottom: 2px solid #3A3935;
        text-decoration: none;
    }

    .iniLeftNav li.active {
        font-size: 18px;
        border-bottom: 2px solid #3A3935;

    }
  </style>

<div class="list-group">
  <h2 class="iniTitle">
    <strong>新闻部落</strong><a href="/news" id="iniA">/更多</a>

    <div class="iniLeftNav">
      <ul class="" id="myTab">
        <li class="active"><a href="#latestNews" data-toggle="tab">最新发布</a></li>
        <li> |</li>
        <li><a href="#iniSociatiesNews" data-toggle="tab">社团新闻</a></li>
        <li> |</li>
        <li><a href="#inischoolNews" data-toggle="tab">学校新闻</a></li>
        <li> |</li>
        <li><a href="#iniglobalNews" data-toggle="tab">世界时事</a></li>
      </ul>
    </div>
  </h2>
  <div class="tab-content" id="notinav">
    <div class="tab-pane fade in active" id="latestNews">
      <%=
          render "module/iniNews", :issues => @issues_index
      %>
    </div>

    <div class="tab-pane fade" id="iniSociatiesNews">
      <%=
          render "module/iniNews", :issues => @issues_society
      %>
    </div>

    <div class="tab-pane fade" id="inischoolNews">
      <%=
          render "module/iniNews", :issues => @issues_school
      %>
    </div>

    <div class="tab-pane fade" id="iniglobalNews">
      <%=
          render "module/iniNews", :issues => @issues_global
      %>
    </div>

  </div>
</div>