<style>

    a:hover {
        text-decoration: none;
    }

    #index_frame {
        margin-top: 20px;
    }

    .tab-content {
        border-style: hidden;
    }

    #inemb {
        padding-top: 2%;
    }

    .tindex {
        border-width: 0;
    }

    .indexTop {
        background-color: #000000;
    }
</style>



<%=
    #render "module/video"
%>


<div class="thumbnail">

  <div id="indexTop">

    <div class="thumbnail tindex panel" id="idhead">
      <div id="inemb">
        <%=
            render "module/nmolist", :issues => @issues_society
        %>
      </div>
    </div>

    <div class="thumbnail tindex panel" id="idhead">
      <div id="inemb">
        <%=
            render "static_page/indexNews"
        %>
      </div>
    </div>
  </div>

  <div class="thumbnail tindex" id="idhead">
    <div class="panel panel-default">
      <div class="panel-heading">优秀社团</div>
      <div id="inemb" class="row">
        <%=
            render "module/societyCarousel", :societies => @societies
        %>
      </div>
    </div>
  </div>

</div>





