<div id=<%= dom_id(comment) %> class="comment">
<li>
  <h2>
    <% if comment.user.nil? %>
        <%= comment.user.stuid %>:
    <% else %>
        <%= comment.user.name %>:
    <% end %>
  </h2>

  <p>
    <%= comment.content %>
  </p>
</li>
</div>


