<!--<div class="panel panel-default">-->
<!--&lt;!&ndash; Default panel contents &ndash;&gt;-->
<!--<div class="thumbnail">-->
<!--&lt;!&ndash; Table &ndash;&gt;-->
<!--<table class="table">-->
<!--<thead>-->
<!--<tr>-->
<!--<th></th>-->
<!--<th></th>-->
<!--<th></th>-->
<!--</tr>-->
<!--</thead>-->

<!--<tbody>-->

<!--style 1-->

<%=
    render 'module/newsBlog', :issues => @issues_news
%>
<div class="paginate" >
  <%= will_paginate @issues, :previous_label => t("前一页"), :next_label => t("后一页"), :renderer => 'BootstrapPaginationHelper::LinkRenderer' %>
</div>
<!--style 2, to use, just comment above and comment out below-->
<%=
    #render 'public_news/flow', :issues => @issues
%>

<!--</tbody>-->
<!--</table>-->
<!--</div>-->
<!--</div>-->



