<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading"><h3>新闻列表</h3>
  </div>
  <div class="panel-body">


    <!-- Table -->
    <table class="table">
      <thead>
      <tr>

        <!--<th>发布人</th>-->
        <th></th>
        <th></th>
        <th></th>
      </tr>
      </thead>

      <tbody>
      <% @issues.each do |issue| %>
          <tr>


            <div class="row">
              <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                  <img data-src="holder.js/300x200" alt="...">
                  <div class="caption">
                    <h3><%= issue.title%></h3>
                    <p><%= issue.date %></p>
                    <p><a href=<%= shownews_url(issue)%>, class="btn btn-primary" role="button">查看</a></p>
                  </div>
                </div>
              </div>
            </div>

          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>




<td><%= link_to raw('<button type="button" class="btn btn-primary">返回</button>'), root_url %></td>




