<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="thumbnail">
    <!-- Table -->
    <table class="table">
      <thead>
      <tr>
        <th></th>
        <th></th>
        <th></th>
      </tr>
      </thead>

      <tbody>

      <!--style 1-->
      <%=
          render 'module/flatnelist', :issues => @issuesP
      %>

      <!--style 2, to use, just comment above and comment out below-->
      <%=
          #render 'public_news/flow', :issues => @issues
      %>

      </tbody>
    </table>
  </div>
</div>


<div class="pagination">


  <%= will_paginate @issuesP,
                    :inner_window => 1,
                    :outer_window => 1,
                    :previous_label => '
      <span class="fui-arrow-left"></span>
    ',
                    :next_label => '<span class="fui-arrow-right"></span>
'
  %>
</div>
