<div class="panel panel-default">
  <!-- Default panel contents -->

  <div class="panel-body">


    <!-- Table -->
    <table class="table">
      <thead>
      <tr>

        <!--<th>发布人</th>-->
        <th></th>
        <th></th>
        <th></th>
      </tr>
      </thead>

      <tbody>
      <!-- render ajax-->
      <!--<p><%= link_to 'Show ajax', news_path, remote: true %></p>-->

      <div id="ajaxnews">
      </div>
      <%= render 'module/timeline',:issues => @issues  %>

      </tbody>
    </table>
  </div>
</div>


<!--<td><%= link_to raw('<button type="button" class="btn btn-primary">返回</button>'), root_url %></td>-->





