<div class="panel panel-default">
  <!-- Default panel contents -->

  <div class="thumbnail">


    <!-- Table -->
    <table class="table">
      <thead>
      <tr>

        <!--<th>发布人</th>-->
        <th></th>
        <th></th>
        <th></th>
      </tr>
      </thead>

      <tbody>

      <%= render 'module/notifies/swtchnotis',:issues => @notifiesP  %>

      </tbody>
    </table>
  </div>
</div>


<!--<td><%= link_to raw('<button type="button" class="btn btn-primary">返回</button>'), root_url %></td>-->



<div class="pagination">


  <%= will_paginate @notifiesP,
                    :inner_window => 1,
                    :outer_window => 1,
                    :previous_label => '
      <span class="fui-arrow-left"></span>
    ',
                    :next_label => '<span class="fui-arrow-right"></span>
'
  %>
</div>

