<div class="panel panel-default">
  <!-- Default panel contents -->

  <div class="thumbnail">


    <!-- Table -->
    <table class="table">
      <thead>
      <tr>

        <!--<th>发布人</th>-->
        <th></th>
        <th></th>
        <th></th>
      </tr>
      </thead>

      <tbody>

      <%= render 'module/notifies/swtchnotis',:issues => @@notifies  %>

      </tbody>
    </table>
  </div>
</div>


<!--<td><%= link_to raw('<button type="button" class="btn btn-primary">返回</button>'), root_url %></td>-->




