<div class="panel panel-default">
  <!-- Default panel contents -->

  <div class="thumbnail">


    <!-- Table -->
    <table class="table">
      <thead>
      <tr>

        <!--<th>发布人</th>-->
        <th></th>
        <th></th>
        <th></th>
      </tr>
      </thead>

      <tbody>

      <%= render 'module/notifies/swtchnotis',:issues => @notifies  %>

      </tbody>
    </table>
  </div>
</div>


<div class="paginate" >
  <%= will_paginate @notifies, :previous_label => t("前一页"), :next_label => t("后一页"), :renderer => 'BootstrapPaginationHelper::LinkRenderer' %>
</div>



