<style>
    #top {
        margin-left: 980px;
        position: fixed !important;
        top: 350px;
    }

    #top.affix-top {
        position: static;

    }

</style>


<a href="#">
  <!--<button type="button" class="btn btn-default" id="top" data-toggle="tooltip" data-placement="top" title="回到顶部">-->
  <!---->
  <!--<span class="glyphicon glyphicon-circle-arrow-up"></span>-->
  <!---->
  <!--</button>-->
</a>


<%
   #if @issue.category_id == 1 || @issue.category_id == 2
%>
<%= render "module/newsshow/newsbasic", :issue => @issue %>
<%
   #end
%>


<div id="comments">
  <%= render @comments %>
</div>


<%=
    unless current_user_stu.nil?
      render :partial => 'commentForm'
    end
%>


<td><%= link_to raw('<button type="button" class="btn btn-primary">返回</button>'), news_path %></td>



