<style>

</style>


    <%= render "module/newsshow/notis", :noti => @noti, :issues => @notifies %>

<div align="left"><td><%= link_to raw('<button type="button" class="btn btn-primary">返回</button>'), notis_path %></td></div>


