<style>

</style>


    <%= render "module/newsshow/notis", :noti => @noti, :issues => @notifies %>
<td><%= link_to raw('<button type="button" class="btn btn-primary">返回</button>'), news_path %></td>


