


<div class="panel panel-info">
  <div class="panel-heading">
    <h2 align="center"><%= @slmember.email%></h2>
  </div>

  <div class="panel-body">
    <pre id="issue_pre"><h5><%= @slmember.email%></h5></pre>
  </div>

</div>
<td><%= link_to raw('<button type="button" class="btn btn-primary">返回</button>'), slmember_path %></td>




