<% if (session[:user_id] == @user.id) || @user.id == nil %>

    <h1>Editing issue</h1>

    <%= render 'form' %>

    <%= link_to 'Show', [@user, @issue] %> |
    <%= link_to 'Back', user_issues_path(@user) %>
<% else %>
    <%= render "static_page/access_error" %>
<% end %>