<% if session[:user_id] == @user.id %>

    <h1>New issue</h1>

    <%= render 'form' %>

    <%= link_to 'Back', user_issues_path(@user) %>

<% else %>
    <%= render "static_page/access_error" %>
<% end %>