<style xmlns="http://www.w3.org/1999/html">
    #index_activity {
        /*min-height: 150px;*/
        /*max-height: 150px;*/
    }
</style>
<!--<ul class="grid cs-style-3">-->
  <% notis.each do |i| %>
      <ul class="grid cs-style-3">
        <h6><%= truncate(i.title, :length => 11) %></h6>

        <p>
          <small><%= truncate(i.content, :length => 32) %></small>
        </p>
        <% if i.content.length <= 24 %>
            </br>
        <% end %>

        <p><a class="btn btn-primary" href="<%= shownotis_url(i) %>">详细</a></p>
      </ul>
      <!--/span-->
  <% end %>
<!--</ul>-->