<%= stylesheet_link_tag "SimpleDropDown/style1.css" %>
<%= javascript_include_tag "SimpleDropDown/modernizr.custom.63321.js" %>



<select id="cd-dropdown1" name="cd-dropdown" class="cd-select">
  <option value="-1" selected>Choose your favorite animal</option>
  <option value="1" class="icon-monkey">Monkey</option>
  <option value="2" class="icon-bear">Bear</option>
  <option value="3" class="icon-squirrel">Squirrel</option>
  <option value="4" class="icon-elephant">Elephant</option>
</select>


<%= javascript_include_tag "SimpleDropDown/jquery.dropdown.js" %>
<script type="text/javascript">

    $(function () {

        $('#cd-dropdown1').dropdown({
            gutter: 5
        });

    });

</script>

