<%= stylesheet_link_tag "SimpleDropDown/style4.css"%>
<%= javascript_include_tag "SimpleDropDown/modernizr.custom.63321.js" %>


<select id="cd-dropdown4" class="cd-select">
  <option value="-1" selected>Pick an operating system</option>
  <option value="1" class="icon-tux">Linux</option>
  <option value="2" class="icon-finder">Mac</option>
  <option value="3" class="icon-windows">Windows</option>
  <option value="4" class="icon-android">Android</option>
</select>

<%= javascript_include_tag "SimpleDropDown/jquery.dropdown.js" %>

<script type="text/javascript">

    $(function () {

        $('#cd-dropdown4').dropdown();

    });

</script>

