<%= stylesheet_link_tag "SimpleDropDown/style5.css"%>
<%= javascript_include_tag "SimpleDropDown/modernizr.custom.63321.js" %>

<select id="cd-dropdown5" class="cd-select">
  <option value="#" selected>社团中心</option>
  <option value="/gy" class="icon-quill">公益实践中心</option>
  <option value="/wy" class="icon-film">文娱兴趣中心</option>
  <option value="/ty" class="icon-accessibility">体育竞技中心</option>
  <option value="/xs" class="icon-books">学术科技中心</option>
</select>


<%= javascript_include_tag "SimpleDropDown/jquery.dropdown.js" %>

<script type="text/javascript">

    $(function () {

        $('#cd-dropdown5').dropdown({
            gutter: 5,
            stack: false,
            slidingIn: 100
        });

    });

</script>

