<style>
    * {
        margin: 0;
        padding: 0;
    }

    msg {
        /*height: 100%;*/
        display: box;
        display: -moz-box;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
        box-orient: vertical;
    }

    msg h2, p {
        font-size: 50%;
        font-weight: normal;
    }

    msg ul, li {
        list-style: none;
        -webkit-box-flex: 1;

    }

    msg ul {
        overflow: hidden;
        padding: 3em;
    }

    msg ul li a {
        text-decoration: none;
        color: #000;
        background: #ffc;
        display: block;
        height: 10em;
        width: 10em;
        padding: 1em;
    }

    msg ul li {
        margin: 1em;
        float: left;
    }

    msg ul li h2 {
        font-size: 90%;
        font-weight: bold;
        -webkit-box-flex: 1;

        /*padding-bottom: 10px;*/
    }

    msg ul li p {
        font-family: "Reenie Beanie", arial, sans-serif, 微 软 雅 黑;
        font-size: 80%;

    }

    msg ul li a {
        box-flex: 1;
        -moz-box-flex: 1;
        -webkit-box-flex: 1;
        /*background:#E7E7E7;*/
        overflow-y: auto;

        text-decoration: none;
        color: #000;
        background: #ffc;
        /*display: block;*/
        height: 10em;
        width: 10em;
        padding: 1em; /* Firefox */
        -moz-box-shadow: 5px 5px 7px rgba(33, 33, 33, 1); /* Safari+Chrome */
        -webkit-box-shadow: 5px 5px 7px rgba(33, 33, 33, .7); /* Opera */
        box-shadow: 5px 5px 7px rgba(33, 33, 33, .7);
    }

    msg ul li a {
        -webkit-transform: rotate(-6deg);
        -o-transform: rotate(-6deg);
        -moz-transform: rotate(-6deg);
    }

    msg ul li:nth-child(even) a {
        -o-transform: rotate(4deg);
        -webkit-transform: rotate(4deg);
        -moz-transform: rotate(4deg);
        position: relative;
        top: 5px;
    }

    msg ul li:nth-child(3n) a {
        -o-transform: rotate(-3deg);
        -webkit-transform: rotate(-3deg);
        -moz-transform: rotate(-3deg);
        position: relative;
        top: -5px;
    }

    msg ul li:nth-child(5n) a {
        -o-transform: rotate(5deg);
        -webkit-transform: rotate(5deg);
        -moz-transform: rotate(5deg);
        position: relative;
        top: -10px;
    }
</style>

<body>
<msg>
  <ul>
    <% message.each do |msg| %>
        <li>
          <a href="#">

            <h2>

              <% if msg.user.name.empty? %>
                  <%= msg.user.stuid %>
              <% else %>
                  <%= msg.user.name %>
              <% end %>
            </h2>

            <p>
              <%= msg.msg_content %>
            </p>

          </a>
        </li>
    <% end %>

  </ul>

</msg>

<script>
//    $(function () {
//        $("li a").each(function () {
//            $(this).mousedown(function () {
//                $(this).css("cursor", "pointer");
//            });
//
//        });
//    });

</script>

</body>
