<!--发布的新闻-->
<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      发布的新闻
    </h4>
  </div>
  <div class="panel-body">
    <div id='calendar'></div>
  </div>
</div>
<!-- End of panel-->



<%= stylesheet_link_tag "fullcalendar/fullcalendar.css", media: "all", "data-turbolinks-track" => true %>
<%= stylesheet_link_tag "fullcalendar/ffullcalendar.print.css", media: "all", "data-turbolinks-track" => true %>

<%= javascript_include_tag "fullcalendar/fullcalendar.min.js", "data-turbolinks-track" => true %>


<script>
    $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
        if (e.target.hash == "#admin_timetable") {
//            reset calendar
            $("#calendar").html("");
//            add calendar related js
            $(document).ready(function () {

                var date = new Date();
                var d = date.getDate();
                var m = date.getMonth();
                var y = date.getFullYear();

                $('#calendar').fullCalendar({
                    header: {
                        left: 'prev,next today',
                        center: 'title',
                        right: 'month,agendaWeek,agendaDay'
                    },
                    editable: true,
                    events: [
                        {
                            title: 'All Day Event',
                            start: new Date(y, m, 1)
                        },
                        {
                            title: 'Long Event',
                            start: new Date(y, m, d - 5),
                            end: new Date(y, m, d - 2)
                        },
                        {
                            id: 999,
                            title: 'Repeating Event',
                            start: new Date(y, m, d - 3, 16, 0),
                            allDay: false
                        },
                        {
                            id: 999,
                            title: 'Repeating Event',
                            start: new Date(y, m, d + 4, 16, 0),
                            allDay: false
                        },
                        {
                            title: 'Meeting',
                            start: new Date(y, m, d, 10, 30),
                            allDay: false
                        },
                        {
                            title: 'Lunch',
                            start: new Date(y, m, d, 12, 0),
                            end: new Date(y, m, d, 14, 0),
                            allDay: false
                        },
                        {
                            title: 'Birthday Party',
                            start: new Date(y, m, d + 1, 19, 0),
                            end: new Date(y, m, d + 1, 22, 30),
                            allDay: false
                        },
                        {
                            title: 'Click for Google',
                            start: new Date(y, m, 28),
                            end: new Date(y, m, 29),
                            url: 'http://google.com/'
                        }
                    ]
                });

            });
        }

        else {
//            show galleria
        }
    })

</script>



<style>

    body {
        /*margin-top: 40px;*/
        /*text-align: center;*/
        font-size: 17px;
        font-family: "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
    }

    #calendar {
        width: 900px;
        margin: 0 auto;
    }

</style>