<% if (session[:user_id] == @user.id) || @user.id == nil %>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">编辑活动通知</h3>
      </div>
      <div class="panel-body">

        <%= render "form" %>

        <td><%= link_to raw('<button type="button" class="btn btn-primary">查看</button>'), [@user, @noti] %></td>

        <td><%= link_to raw('<button type="button" class="btn btn-primary">返回</button>'), @user %></td>
      </div>
    </div>


<% else %>
    <%= render "static_page/access_error" %>
<% end %>


