<% if session[:user_id] == @user.id %>

    <!--<div class="panel panel-default">-->
    <!--<div class="row">-->
        <h4>发布活动通知</h4>

      <!--<div class="panel-body">-->
        <%= render 'form' %>

        <td><%= link_to raw('<button type="button" class="btn btn-primary">返回</button>'), @user %></td>
      <!--</div>-->
    <!--</div>-->

<% else %>
    <%= render "static_page/access_error" %>

<% end %>

