// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.css.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
//@import "flat-ui";
@import "active_admin/mixins";
@import "active_admin/base";
//@import "flat-ui";


// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
   .status_tag { background: #6090DB; }
body {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 1.72222;
  color: #34495e;
  background-color: #ffffff;
}
a {
  color: #16a085;
  text-decoration: none;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
a:hover,
a:focus {
  color: #1abc9c;
  text-decoration: none;
}
a:focus {
  outline: none;
}