// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.css.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";
//@import "just_datetime_picker/base";


body.active_admin {
  div.panel h3.user_question {
    background: rgb(30,144,255);
    color: white;
    text-shadow: none;
  }
  div.panel h3.admin_response {
    background: rgb(60,179,113);
    color: white;
    text-shadow: none;
  }
  .has_many {
    h3 {
      display: none;
    }}
}

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }
