<div id="footer">
  <div class="container">
    <div id="footer_div">
      友情链接:
      <a href="http://www.guet.cn/" style="color:#999">桂林电子科技大学主页</a>
      <a href="#" style="color:#999">师大社团联</a>
      <a href="#" style="color:#999">桂林大学生网</a>
      </br>
      Copyright 2013 - All Rights Reserved 桂林电子科技大学学生社团联合会 power by 社联网络部
    </div>
  </div>
  </br>
  </br>

  </br>

</div>

<nav class="navbar navbar-fixed-bottom navbar-default" role="navigation" id="footer_nav">
  <ul class="nav navbar-nav navbar-right" id="footer_link">
    <li><%= link_to "About", "/about" %> </li>
    <li><%= link_to "FAQ", "/faq" %></li>
    <li><%= link_to "Contact", "/contact" %></li>
  </ul>


</nav>

