<style>
    #indexNav {
        text-align: center;
    }

    #navLi {
        font-size: 18px;
        font-family: "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
    }

</style>

<div class="col-md-2">
  <div class="panel panel-default affix-top" id="sidebar">
    <div class="panel-body">
      <ul class="nav nav-stacked" id="indexNav">
        <li><a id="navLi" href=<%= root_url %>> 社联主页</a></li>
        <li><a id="navLi" href="/news" onclick="ajax()">新闻部落</a></li>
        <li class="dropdown">
          <a id="navLi" href="#" class="dropdown-toggle" data-toggle="dropdown">社团中心</a>
          <ul class="dropdown-menu">
            <li><a href="/gy">公益实践中心</a></li>
            <li><a href="/wy">文娱兴趣中心</a></li>
            <li><a href="/ty">体育竞技中心</a></li>
            <li><a href="/xs">学术科技中心</a></li>
          </ul>

        </li>
        <li><a id="navLi" href="/notis">活动通知</a></li>
        <li><a id="navLi" href="/download">资料下载</a></li>
        <li><a id="navLi" href="/slmember">社联介绍</a></li>
      </ul>


      <hr>

      <div class="col col-span-12">
        <a href="http://e.weibo.com/guetstlhh" id="index_icon"><i class="fa fa-weibo fa-2x"></i></a>
        <i class="fa fa-renren fa-2x"></i>
        <!--<i class="fa fa-linkedin"></i>-->
        <!--<i class="fa fa-pinterest"></i>-->
      </div>

    </div>
    <!--/panel body-->
  </div>
  <!--/panel-->
</div>

<script>

</script>