<div class="col-md-2">
  <div class="panel panel-default affix-top" id="sidebar">
    <div class="panel-heading" style="background-color:#888;color:#fff;">导航栏</div>
    <div class="panel-body">
      <ul class="nav nav-stacked">
        <li><a href=<%= root_url %>> 社联主页</a></li>
        <li><a href="/news">新闻部落</a></li>
        <li><a href="#">社团中心</a></li>
        <li><a href="#">活动通知</a></li>
        <li><a href="/download">资料下载</a></li>
        <li><a href="#">社联介绍</a></li>
      </ul>


      <hr>

      <div class="col col-span-12">
        <a href="http://e.weibo.com/guetstlhh" id="index_icon"><i class="fa fa-weibo fa-2x"></i></a>
        <i class="fa fa-renren fa-2x"></i>
        <!--<i class="fa fa-linkedin"></i>-->
        <!--<i class="fa fa-pinterest"></i>-->
      </div>

    </div>
    <!--/panel body-->
  </div>
  <!--/panel-->
</div>