<style>
    #sidea {
        color: #000000;
        border-bottom-style: solid;
        border-bottom-color: #eee;
        border-width: 0.06cm;

    }

    #title_noti {
        /*border-bottom-style: solid;*/
        /*border-color: #eee;*/
        /*border-width: 0.03cm;*/
        /*border-bottom-color: #eee;*/
        min-height: 670px;
        max-height: 670px;
        overflow: auto;
    }

    .list-group-item {
        /*border-bottom-color: #ffffff;*/
        /*border-color: #ffffff;*/
        /*border-color: #eee;*/
    }

    #sidebtn {
        position: fixed;
        /*mleft: 0px;*/
        /*margin-right: -100px;*/
        margin-left: 185px;
        margin-top: 630px;
        /*top: 690px;*/
    }

    #datepicker {
        font-size: 1px;
    }

    .ui-datepicker {
        font-size: 16px;
    }
        #side_list{
            max-height: 60px;
            border-top: 0;
            border: 0;
        }
</style>


<!--mid column-->



<!--<div class="panel-heading" style="background-color:#555;color:#eee;">活动通知</div>-->
<!--<div class="panel-body" id="side_content">-->

<div class="list-group">
  <div class="list-group-item" id="side_list">通知公告</div>

  <% @notis_info.last(6).each do |e| %>

      <div class="list-group-item" style="background-color: #ffffff" id="side_list">

        <p class="list-group-item-heading" style="font-size: 14px; background-color: #ffffff"><%= link_to truncate(e.title, :length => 15), shownotis_url(e) %></p>
        <p class="list-group-item-text small" style="font-size: 10px; color: #959595"><%= truncate(e.created_at.strftime("%F"), :length => 40) %></p>
        </hr>
      </div>
  <% end %>

</div>


<div class="list-group">
  <div class="list-group-item" id="side_list">最新发布</div>

  <% @last_news.last(5).each do |e| %>

      <div class="list-group-item" style="background-color: #ffffff" id="side_list">

        <p class="list-group-item-heading" style="font-size: 14px; background-color: #ffffff"><%= link_to truncate(e.title, :length => 15), shownotis_url(e) %></p>
        <p class="list-group-item-text small" style="font-size: 10px; color: #959595"><%= truncate(e.created_at.strftime("%F"), :length => 40) %></p>
        </hr>
      </div>
  <% end %>

</div>



