<div class="navbar-default navbar-static-side" role="navigation">
  <div class="sidebar-collapse">
    <ul class="nav" id="side-menu">
      <li>
        <a href="i#"><i class="fa fa-dashboard fa-fw"></i> 控制面板</a>
      </li>
      <li>
        <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> 个人发布<span class="fa arrow"></span></a>
        <ul class="nav nav-second-level">
          <li>
            <a href="flot.html">新闻</a>
          </li>
          <li>
            <a href="morris.html">活动</a>
          </li>
        </ul>
        <!-- /.nav-second-level -->
      </li>
      <li>
        <a href="#"><i class="fa fa-table fa-fw"></i> 日程表</a>
      </li>
      <li>
        <a href="#"><i class="fa fa-edit fa-fw"></i> 社团相关</a>
      </li>
      <li>
        <a href="#"><i class="fa fa-wrench fa-fw"></i> 评论内容<span class="fa arrow"></span></a>
        <ul class="nav nav-second-level">
          <li>
            <a href="#"> 发出评论</a>
          </li>
          <li>
            <a href="#"> 收到评论</a>
          </li>
          <li>
            <a href="#"> 赞</a>
          </li>
          <li>
            <a href="#"> 被赞</a>
          </li>
        </ul>
        <!-- /.nav-second-level -->
      </li>


    </ul>
    <!-- /#side-menu -->
  </div>
  <!-- /.sidebar-collapse -->
</div>
<!-- /.navbar-static-side -->